

#solicitarAyuda{
    position: absolute;
    top:10%;
    left:10%;
    width: 90%;
} 
   
#solicitarAyuda select{
  font: 400 12px/1.3 "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #40A3DB;
  line-height: 1;
  outline: 0;
  color: #000;
  border-color: #000;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background: linear-gradient(#000, #000) no-repeat,
              linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat,
              linear-gradient(#000, #000) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  width: 90%;
  height: 35-px;
}

#solicitarAyuda textarea{
  width: 90%;
  height: 250px;
}

#solicitarAyuda button{
  width: 90%;
  height: 45px;
  background-color: #192128;
  color: #fff;
  border-radius: 20px;
}



@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

    #solicitarAyuda{
    position: absolute;
    top:20%;
    left:10%;
    width: 90%;
    }


    #solicitarAyuda textarea{
      width: 90%;
      height: 250px;
    }

    #solicitarAyuda select{
      width: 90%;
    }
}    




